-- CreateEnum
CREATE TYPE "Role" AS ENUM ('student', 'lecturer', 'admin');

-- CreateEnum
CREATE TYPE "ReactionType" AS ENUM ('like', 'heart', 'fire', 'clap');

-- CreateEnum
CREATE TYPE "NotificationType" AS ENUM ('new_like', 'new_comment', 'new_message', 'grade_updated', 'artwork_approved', 'artwork_hidden', 'artwork_pending', 'new_report', 'report_resolved', 'collaborator_tag', 'new_order');

-- CreateEnum
CREATE TYPE "DisplayOrder" AS ENUM ('newest', 'oldest');

-- CreateEnum
CREATE TYPE "ReportStatus" AS ENUM ('pending', 'resolved', 'dismissed');

-- CreateTable
CREATE TABLE "users" (
    "user_id" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "password_hash" TEXT NOT NULL,
    "full_name" TEXT NOT NULL,
    "student_id" TEXT,
    "role" "Role" NOT NULL DEFAULT 'student',
    "avatar_url" TEXT,
    "bio" TEXT,
    "is_active" BOOLEAN NOT NULL DEFAULT true,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "users_pkey" PRIMARY KEY ("user_id")
);

-- CreateTable
CREATE TABLE "artworks" (
    "artwork_id" TEXT NOT NULL,
    "user_id" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "description" TEXT,
    "tools_used" TEXT[],
    "subject" TEXT,
    "semester" TEXT,
    "academic_year" TEXT,
    "tags" TEXT[],
    "collaborators" TEXT[],
    "collaborator_ids" TEXT[],
    "cover_image_url" TEXT NOT NULL,
    "watermark_image_url" TEXT,
    "file_urls" TEXT[],
    "watermark_text" TEXT,
    "watermark_position" TEXT,
    "is_public" BOOLEAN NOT NULL DEFAULT false,
    "is_pending" BOOLEAN NOT NULL DEFAULT true,
    "is_highlighted" BOOLEAN NOT NULL DEFAULT false,
    "is_ai_confirmed" BOOLEAN NOT NULL DEFAULT false,
    "view_count" INTEGER NOT NULL DEFAULT 0,
    "like_count" INTEGER NOT NULL DEFAULT 0,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "artworks_pkey" PRIMARY KEY ("artwork_id")
);

-- CreateTable
CREATE TABLE "grades" (
    "grade_id" TEXT NOT NULL,
    "artwork_id" TEXT NOT NULL,
    "lecturer_id" TEXT NOT NULL,
    "score" DECIMAL(4,1),
    "comment" TEXT,
    "is_visible_to_student" BOOLEAN NOT NULL DEFAULT true,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "grades_pkey" PRIMARY KEY ("grade_id")
);

-- CreateTable
CREATE TABLE "likes" (
    "like_id" TEXT NOT NULL,
    "artwork_id" TEXT NOT NULL,
    "user_id" TEXT,
    "ip_address" TEXT,
    "reaction_type" "ReactionType" NOT NULL DEFAULT 'like',
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "likes_pkey" PRIMARY KEY ("like_id")
);

-- CreateTable
CREATE TABLE "comments" (
    "comment_id" TEXT NOT NULL,
    "artwork_id" TEXT NOT NULL,
    "user_id" TEXT NOT NULL,
    "content" TEXT NOT NULL,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "comments_pkey" PRIMARY KEY ("comment_id")
);

-- CreateTable
CREATE TABLE "reports" (
    "report_id" TEXT NOT NULL,
    "artwork_id" TEXT NOT NULL,
    "user_id" TEXT,
    "violation_type" TEXT NOT NULL,
    "detail" TEXT,
    "status" "ReportStatus" NOT NULL DEFAULT 'pending',
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "reports_pkey" PRIMARY KEY ("report_id")
);

-- CreateTable
CREATE TABLE "messages" (
    "message_id" TEXT NOT NULL,
    "recipient_id" TEXT NOT NULL,
    "sender_name" TEXT NOT NULL,
    "sender_email" TEXT NOT NULL,
    "sender_company" TEXT,
    "purpose" TEXT,
    "content" TEXT NOT NULL,
    "is_read" BOOLEAN NOT NULL DEFAULT false,
    "is_emailed" BOOLEAN NOT NULL DEFAULT false,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "messages_pkey" PRIMARY KEY ("message_id")
);

-- CreateTable
CREATE TABLE "notifications" (
    "notification_id" TEXT NOT NULL,
    "user_id" TEXT NOT NULL,
    "type" "NotificationType" NOT NULL,
    "reference_id" TEXT,
    "reference_type" TEXT,
    "content" TEXT NOT NULL,
    "is_read" BOOLEAN NOT NULL DEFAULT false,
    "actor_id" TEXT,
    "actor_name" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "notifications_pkey" PRIMARY KEY ("notification_id")
);

-- CreateTable
CREATE TABLE "portfolio_settings" (
    "setting_id" TEXT NOT NULL,
    "user_id" TEXT NOT NULL,
    "portfolio_slug" TEXT,
    "is_portfolio_public" BOOLEAN NOT NULL DEFAULT true,
    "show_email" BOOLEAN NOT NULL DEFAULT false,
    "profile_headline" TEXT,
    "social_links" JSONB,
    "contact_enabled" BOOLEAN NOT NULL DEFAULT true,
    "display_order" "DisplayOrder" NOT NULL DEFAULT 'newest',
    "major" TEXT,
    "year_level" TEXT,
    "featured_artwork_ids" TEXT[] DEFAULT ARRAY[]::TEXT[],
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "portfolio_settings_pkey" PRIMARY KEY ("setting_id")
);

-- CreateTable
CREATE TABLE "timeline_entries" (
    "entry_id" TEXT NOT NULL,
    "user_id" TEXT NOT NULL,
    "month" TEXT NOT NULL,
    "year" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "description" TEXT,
    "tags" TEXT[],
    "link_url" TEXT,
    "link_label" TEXT,
    "image_url" TEXT,
    "sort_order" INTEGER NOT NULL DEFAULT 0,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "timeline_entries_pkey" PRIMARY KEY ("entry_id")
);

-- CreateTable
CREATE TABLE "collection_items" (
    "collection_item_id" TEXT NOT NULL,
    "lecturer_id" TEXT NOT NULL,
    "artwork_id" TEXT NOT NULL,
    "collection_name" TEXT,
    "curator_essay" TEXT,
    "theme" TEXT,
    "note" TEXT,
    "added_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "collection_items_pkey" PRIMARY KEY ("collection_item_id")
);

-- CreateIndex
CREATE UNIQUE INDEX "users_email_key" ON "users"("email");

-- CreateIndex
CREATE INDEX "artworks_user_id_idx" ON "artworks"("user_id");

-- CreateIndex
CREATE INDEX "artworks_subject_idx" ON "artworks"("subject");

-- CreateIndex
CREATE INDEX "artworks_academic_year_idx" ON "artworks"("academic_year");

-- CreateIndex
CREATE INDEX "artworks_is_public_idx" ON "artworks"("is_public");

-- CreateIndex
CREATE INDEX "artworks_user_id_is_public_idx" ON "artworks"("user_id", "is_public");

-- CreateIndex
CREATE INDEX "grades_artwork_id_idx" ON "grades"("artwork_id");

-- CreateIndex
CREATE INDEX "grades_lecturer_id_idx" ON "grades"("lecturer_id");

-- CreateIndex
CREATE INDEX "grades_artwork_id_lecturer_id_idx" ON "grades"("artwork_id", "lecturer_id");

-- CreateIndex
CREATE INDEX "likes_artwork_id_idx" ON "likes"("artwork_id");

-- CreateIndex
CREATE INDEX "likes_artwork_id_user_id_idx" ON "likes"("artwork_id", "user_id");

-- CreateIndex
CREATE INDEX "reports_artwork_id_idx" ON "reports"("artwork_id");

-- CreateIndex
CREATE INDEX "reports_status_idx" ON "reports"("status");

-- CreateIndex
CREATE INDEX "notifications_user_id_is_read_idx" ON "notifications"("user_id", "is_read");

-- CreateIndex
CREATE INDEX "notifications_user_id_created_at_idx" ON "notifications"("user_id", "created_at");

-- CreateIndex
CREATE UNIQUE INDEX "portfolio_settings_user_id_key" ON "portfolio_settings"("user_id");

-- CreateIndex
CREATE UNIQUE INDEX "portfolio_settings_portfolio_slug_key" ON "portfolio_settings"("portfolio_slug");

-- CreateIndex
CREATE INDEX "timeline_entries_user_id_idx" ON "timeline_entries"("user_id");

-- CreateIndex
CREATE INDEX "timeline_entries_user_id_sort_order_idx" ON "timeline_entries"("user_id", "sort_order");

-- AddForeignKey
ALTER TABLE "artworks" ADD CONSTRAINT "artworks_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "users"("user_id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "grades" ADD CONSTRAINT "grades_artwork_id_fkey" FOREIGN KEY ("artwork_id") REFERENCES "artworks"("artwork_id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "grades" ADD CONSTRAINT "grades_lecturer_id_fkey" FOREIGN KEY ("lecturer_id") REFERENCES "users"("user_id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "likes" ADD CONSTRAINT "likes_artwork_id_fkey" FOREIGN KEY ("artwork_id") REFERENCES "artworks"("artwork_id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "likes" ADD CONSTRAINT "likes_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "users"("user_id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "comments" ADD CONSTRAINT "comments_artwork_id_fkey" FOREIGN KEY ("artwork_id") REFERENCES "artworks"("artwork_id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "comments" ADD CONSTRAINT "comments_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "users"("user_id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "reports" ADD CONSTRAINT "reports_artwork_id_fkey" FOREIGN KEY ("artwork_id") REFERENCES "artworks"("artwork_id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "reports" ADD CONSTRAINT "reports_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "users"("user_id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "messages" ADD CONSTRAINT "messages_recipient_id_fkey" FOREIGN KEY ("recipient_id") REFERENCES "users"("user_id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "notifications" ADD CONSTRAINT "notifications_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "users"("user_id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "portfolio_settings" ADD CONSTRAINT "portfolio_settings_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "users"("user_id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "timeline_entries" ADD CONSTRAINT "timeline_entries_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "users"("user_id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "collection_items" ADD CONSTRAINT "collection_items_lecturer_id_fkey" FOREIGN KEY ("lecturer_id") REFERENCES "users"("user_id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "collection_items" ADD CONSTRAINT "collection_items_artwork_id_fkey" FOREIGN KEY ("artwork_id") REFERENCES "artworks"("artwork_id") ON DELETE CASCADE ON UPDATE CASCADE;

